@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*
  Note: These are temporary previews of the images. 
  They're active for 10-15 days only. You should replace them with the actual images before using the code in production.
*/
:root {
  --image-0: url(./graphics/graphics0.png);
  --image-1: url(./graphics/graphics1.png);
  --custom-width: 100vw;
  --design-width: 1366;
  --ratio: calc(var(--custom-width) / var(--design-width));
}

/* Default classes */
.pos-abs {
  position: absolute;
}
.fill-parent {
  width: 100%;
  height: 100%;
}
.bg-contain {
  background-size: contain;
}
.bg-cover {
  background-size: cover;
}
.bg-auto {
  background-size: auto;
}
.bg-crop {
  background-size: 100% 100%;
}
.bg-no-repeat {
  background-repeat: no-repeat;
}
.pos-init {
  top: 0px;
  left: 0px;
}
.image-div {
  background-color: transparent;
  background-position: center;
}
/* Default classes end */
body {
  margin: 0px 0px;
  padding: 0px;
}
.parent-div {
  position: relative;
  width: var(--custom-width);
  height: calc(786 * var(--ratio));
  overflow: hidden;
  margin: auto;
  padding: 0px;
  box-sizing: border-box;
}
.frame-1-194252 {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
  background: #ffffffff;
}
.frame-2-194253 {
  width: 71.3%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 0px 50px 50px 0px;
  background: #c9c9c9ff;
}
.nodeBg-194250 {
  object-fit: cover;
  opacity: 1;
}
.astronautspacew-194250 {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
}
.rectangle-1-194257 {
  width: 24.95%;
  height: 11.45%;
  top: 70.23%;
  left: -2.02%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  border-radius: 25px 25px 25px 25px;
  background: #d9d9d91a;
  backdrop-filter: blur(5.550000190734863px);
  box-shadow: inset -11.100000381469727px 11.100000381469727px 11.100000381469727px
      0px rgba(255, 255, 255, 0.10000000149011612),
    inset 11.100000381469727px -11.100000381469727px 11.100000381469727px 0px rgba(164, 164, 164, 0.10000000149011612);
}
.nodeBg-194254 {
  width: calc(344.7153010390913 * var(--ratio));
  height: calc(342.77597979153563 * var(--ratio));
  left: calc(-71.03009479779357 * var(--ratio));
  top: calc(-131.19999185142566 * var(--ratio));

  object-fit: cover;
  opacity: 1;
}
.space-labs-51-2-194254 {
  width: 19.51%;
  height: 10.43%;
  top: 70.74%;
  left: 0%;
  opacity: 1;
  z-index: 2;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-194258 {
  object-fit: cover;
  opacity: 1;
}
.frame-3-194258 {
  width: 31.99%;
  height: 69.85%;
  top: 13.99%;
  left: 67.94%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 25px 0px 0px 25px;
}
.login-194265 {
  width: 26.32%;
  height: 14.03%;
  top: 0.17%;
  left: 36.84%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.login-194265-0 {
  font-size: calc(49.55 * var(--ratio));

  line-height: calc(50.5494499206543 * var(--ratio));

  font-family: Titillium Web;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #ffffffff;
}

.get-your-start--194267 {
  width: 27.23%;
  height: 4.19%;
  top: 15.48%;
  left: 36.38%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.get-your-start--194267-0 {
  font-size: calc(14 * var(--ratio));

  line-height: calc(15 * var(--ratio));

  font-family: Titillium Web;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #ffffffff;
}

.username-194278 {
  width: 83.3%;
  height: 9.47%;
  top: 22.95%;
  left: 8.47%;
  opacity: 1;
  z-index: 4;
  transform: rotate(0deg);
}
.rectangle-6-194279 {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  border-radius: 13px 13px 13px 13px;
  box-sizing: border-box;
  border-left: 1px solid #ffffffcc;
  border-right: 1px solid #ffffffcc;
  border-top: 1px solid #ffffffcc;
  border-bottom: 1px solid #ffffffcc;
}
.frame-194281 {
  width: 6.59%;
  height: 46.15%;
  top: 26.92%;
  left: 4.95%;
  opacity: 1;
  z-index: 2;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-194282 {
  opacity: 1;
  background-image: var(--image-0);
}
.vector-194282 {
  width: 66.67%;
  height: 87.5%;
  top: 4.17%;
  left: 16.67%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
}
.username-194280 {
  width: 17.03%;
  height: 34.62%;
  top: 32.69%;
  left: 13.19%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.username-194280-0 {
  font-size: calc(11 * var(--ratio));

  line-height: calc(12 * var(--ratio));

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #ffffff80;
}

.password-login-194273 {
  width: 83.3%;
  height: 9.47%;
  top: 36.79%;
  left: 8.47%;
  opacity: 1;
  z-index: 3;
  transform: rotate(0deg);
}
.rectangle-7-194274 {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  border-radius: 13px 13px 13px 13px;
  box-sizing: border-box;
  border-left: 1px solid #ffffffcc;
  border-right: 1px solid #ffffffcc;
  border-top: 1px solid #ffffffcc;
  border-bottom: 1px solid #ffffffcc;
}
.frame-194276 {
  width: 6.59%;
  height: 46.15%;
  top: 26.92%;
  left: 4.95%;
  opacity: 1;
  z-index: 2;
  transform: rotate(0deg);
  overflow: hidden;
}
.nodeBg-194277 {
  opacity: 1;
  background-image: var(--image-1);
}
.vector-194277 {
  width: 75%;
  height: 87.5%;
  top: 4.17%;
  left: 12.5%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  overflow: hidden;
}
.password-194275 {
  width: 15.93%;
  height: 34.62%;
  top: 32.69%;
  left: 13.19%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.password-194275-0 {
  font-size: calc(11 * var(--ratio));

  line-height: calc(12 * var(--ratio));

  font-family: Poppins;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #ffffff80;
}

.login-194283 {
  width: 28.38%;
  height: 9.47%;
  top: 51.55%;
  left: 34.1%;
  opacity: 1;
  z-index: 5;
  transform: rotate(0deg);
}
.rectangle-8-194284 {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  border-radius: 13px 13px 13px 13px;
  background: linear-gradient(131.84deg, #3caa7bff 0%, #296e49ff 100%);
}
.login-now-194285 {
  width: 50.81%;
  height: 34.62%;
  top: 32.69%;
  left: 20.97%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.login-now-194285-0 {
  font-size: calc(11 * var(--ratio));

  line-height: calc(12 * var(--ratio));

  font-family: Titillium Web;
  font-weight: 700;

  text-decoration: none;
  text-transform: uppercase;
  white-space: pre-wrap;
  color: #ffffffff;
}

.sub-title-194268 {
  width: 83.3%;
  height: 4.37%;
  top: 65.39%;
  left: 8.47%;
  opacity: 1;
  z-index: 2;
  transform: rotate(0deg);
}
.login-with-othe-194269 {
  width: 33.24%;
  height: 100%;
  top: 0%;
  left: 31.04%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.login-with-othe-194269-0 {
  font-size: calc(15 * var(--ratio));

  line-height: calc(16 * var(--ratio));

  font-family: Titillium Web;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #ffffffff;
}

.login-with-othe-194269-1 {
  font-size: calc(15 * var(--ratio));

  line-height: calc(16 * var(--ratio));

  font-family: Titillium Web;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #ffffffff;
}

.subtract-194270 {
  width: 100%;
  height: 4.17%;
  top: 45.83%;
  left: 0%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
}
.login-options-194286 {
  width: 83.3%;
  height: 21.86%;
  top: 74.13%;
  left: 8.47%;
  opacity: 1;
  z-index: 6;
  transform: rotate(0deg);
}
.group-8-194287 {
  width: 100%;
  height: 43.33%;
  top: 0%;
  left: 0%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
}
.rectangle-7-194288 {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  border-radius: 13px 13px 13px 13px;
  background: #ffffffff;
  box-sizing: border-box;
}
.group-5-194289 {
  width: 35.16%;
  height: 57.69%;
  top: 21.15%;
  left: 30.22%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
}
.nodeBg-194291 {
  object-fit: cover;
  opacity: 1;
}
.google-1-194291 {
  width: 23.44%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
}
.login-with-goog-194290 {
  width: 70.31%;
  height: 60%;
  top: 20%;
  left: 29.69%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.login-with-goog-194290-0 {
  font-size: calc(11 * var(--ratio));

  line-height: calc(12 * var(--ratio));

  font-family: Titillium Web;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #000000ff;
}

.login-with-goog-194290-1 {
  font-size: calc(11 * var(--ratio));

  line-height: calc(12 * var(--ratio));

  font-family: Titillium Web;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #000000ff;
}

.group-7-194292 {
  width: 100%;
  height: 43.33%;
  top: 56.67%;
  left: 0%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
}
.rectangle-8-194293 {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  border-radius: 13px 13px 13px 13px;
  background: #ffffffff;
  box-sizing: border-box;
}
.group-6-194294 {
  width: 39.29%;
  height: 57.69%;
  top: 21.15%;
  left: 27.75%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
}
.nodeBg-194296 {
  object-fit: cover;
  opacity: 1;
}
.facebook-1-194296 {
  width: 20.98%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  overflow: hidden;
}
.login-with-face-194295 {
  width: 73.43%;
  height: 60%;
  top: 20%;
  left: 26.57%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.login-with-face-194295-0 {
  font-size: calc(11 * var(--ratio));

  line-height: calc(12 * var(--ratio));

  font-family: Titillium Web;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #000000ff;
}

.login-with-face-194295-1 {
  font-size: calc(11 * var(--ratio));

  line-height: calc(12 * var(--ratio));

  font-family: Titillium Web;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #000000ff;
}

.tect-white{
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
}
